{# item ext-link-list 

used in:
* record_data.twig

#}

<ul class="ext-link-list">
    <li>
        <span class="item-comments">
            <svg class="icon icon-link">
                <use xlink:href="#icon-link"></use>
            </svg>
            <a href="../../patterns/templates-Labs-labs-apps-detail/templates-Labs-labs-apps-detail.html">Aliquam erat volutpat.</a>
        </span>
    </li>

    <li>
        <span class="item-comments">
            <svg class="icon icon-link">
                <use xlink:href="#icon-link"></use>
            </svg>
        <a href="../../patterns/templates-Labs-labs-apps-detail/templates-Labs-labs-apps-detail.html">Donec venenatis imperdiet tortor.</a>
        </span>
    </li>
</ul>